/AnnotationsSample.class
/AutoBoxingSample.class
/Employee.class
/EmployeeGenerics.class
/EnhancedForLoop.class
/EnumBasic$Seasons.class
/EnumBasic.class
/EnumSample.class
/FindMyTask.class
/GenericSample.class
/OuterClassSample$InnerClass.class
/OuterClassSample.class
/Seasons.class
/StaticImportSample.class
/Task.class
/UpperBound.class
/VarArgsSample.class
/WildCardSample.class
