/AdapterClient.class
/AdapterInterface.class
/AdapterSample.class
/FactorySample.class
/Singleton.class
/SingletonRecommended$SingletonHolder.class
/SingletonRecommended.class
/SingltetonSample.class
/Worker.class
/WorkerFactory.class
/WorkerImplA.class
/WorkerImplB.class
/WorkerTypeA_Adapter.class
/WorkerTypeB_Adapter.class
